<h3 class="ui header">{{t "forms.i-i-s-shop-продажа-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-shop-продажа-e.дата-caption"}}</label>
    {{
      flexberry-simpledatetime
      type="date"
      placeholder=(t 'components.flexberry-datepicker.placeholder')
      readonly=readonly
      value=model.дата
      class=(if (v-get validationObject "дата" "isInvalid") "error")
      data-test-i-i-s-shop-продажа-e-----=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "дата" "messages")}}
  </div>

  <div class="field">
    <label>{{t "forms.i-i-s-shop-продажа-e.магазин-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.магазин
      relationName="магазин"
      projection="МагазинL"
      title=(t "forms.i-i-s-shop-продажа-e.магазин-caption")
      readonly=readonly
      componentName="магазинLookup"
      data-test-i-i-s-shop-продажа-e--------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "магазин" "messages")}}
  </div>

  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.магазин.название
      class=(if (v-get validationObject "магазин.название" "isInvalid") "error")
      label=(t "forms.i-i-s-shop-продажа-e.магазин.название-caption")
      data-test-i-i-s-shop-продажа-e-----------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "магазин.название" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-shop-продажа-e.строкаТовара-caption"}}</label>
    {{flexberry-groupedit
      componentName="строкаТовараGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.строкаТовара
      content=model.строкаТовара
      readonly=readonly
      orderable=false
      class=(if (v-get validationObject "строкаТовара" "isInvalid") "error")
      data-test-i-i-s-shop-продажа-e-------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "строкаТовара" "messages")}}
  </div>
</form>